{{#> layout cartLen=cartLen}}
<section class="filters">
  <form method="GET">
    <select name="cat_id" id="cat-select">
      <option value="0">All Categories</option>
      {{#each categories}}
        <option value="{{this.cat_id}}" {{#if (eq this.cat_id ../curCatId)}}selected{{/if}}>
          {{this.cat_name}}
        </option>
      {{/each}}
    </select>
    <button type="submit">Filter</button>
  </form>
</section>

<section class="products-scroll">
  <h2>Best Sellers on Sale</h2>
  <div class="products-grid">
    {{#each products}}
    <a href="/product/{{this.prod_id}}" class="product-card">
      <div class="product-image">
        <img src="/img/{{this.image_main}}" alt="{{this.prod_name}}">
        {{#if this.image_hover}}
        <img src="/img/{{this.image_hover}}" class="hover">
        {{/if}}
        <button class="wishlist-btn">❤</button>
      </div>
      <h3>{{this.prod_name}}</h3>
      <p class="price">${{this.price}}</p>
      <a href="/sales/addToCart/{{this.prod_id}}" class="add-cart-btn">+ Bag</a>
    </a>
    {{/each}}
  </div>
</section>

<a href="/products/add" class="btn">+ Add New Product</a>
{{/layout}}